@import url("https://fonts.googleapis.com/css?family=Poppins:400,700,900");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
a{
    text-decoration: none;
}
.header{
    
    height: 100px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    padding: 0 20px;
}
.nav{
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
}
.nav,
.nav_item{
       display: flex;
       align-items: center;
       height: 100%;
       justify-content: space-between;
       font-weight: 400px;
}
.nav_item{
    column-gap: 35px;
}
.nav_logo{
    color: #d7d2d2;
    font-size: 30px;
    cursor: auto;
    font-weight: bold;
    
}
.nav_link_home {
    pointer-events: none; /* Disables clicking */
    color: rgb(255, 255, 255); /* Changes the color to white */
}
.nav_link{
    color: #ffffff;
    
}
.nav_link:hover{
    color: #df580a;
}
.nav_link_events:hover{
    color: #df580a;
}
/*.button{
    padding: 6px 24px;
    background: transparent;
    border: 3px solid #ffffff;
    color:#ffffff;
    border-radius: 6px;
    cursor: pointer;
}
.button:active{
    transform: scale(0.98);
}*/
.user-pic{
    width: 50px;
    border-radius: 50%;
    cursor: pointer;
}
.sub-menu-wrap{
    position: absolute;
    top: 100%;
    right: 7%;
    width: 230px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
}
.sub-menu-wrap.open-menu{
    max-height: 400px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
}
.sub-menu{
    background: #191B1C;
    padding: 20px;
    margin: 10px;

}
.user-info{
    display: flex;
    align-items: center;
}
.user-info h4{
    font-weight: 300;
    color: #C8C3BC;
}
.user-info img{
    width: 50px;
    border-radius: 50%;
    margin-right: 15%;
}
.sub-menu hr{
    border: 0;
    height: 1px;
    width: 100%;
    background: #ccc;
    margin: 15px 0 10px;
}
.sub-menu-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #C8C3BC;
    margin: 12px 0;
}
.sub-menu-link p{
    width: 100%;
    font-weight: 500;
    color: #C8C3BC;
}
.sub-menu-link img{
    width: 40px;
    background: #ffffff;
    border-radius: 60%;
    padding: 8px;
    margin-right: 40px;
}
.sub-menu-link span{
    font-size: 22px;
    transition: 0.5s;
}
.sub-menu-link:hover span{
    transform: translateX(5px);
}
.sub-menu-link:hover p{
    font-weight: 600;
}
.home{
    background-image:url("bc.jpg");
    height: 100vh;
    width: 100%;
    position: relative;
    background-size: cover;
    background-position: center;  
}
.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fdfdff;
}
.content h1{
    font-size: 60px;
    font-weight: 600;
    margin-top: 80px;
}
.content p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}
.special_button{
    width: 200px;
    padding: 15px;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #ffffff;
    background: transparent;
    color: #ffffff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
span{
    background: rgb(175, 77, 8);
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
.special_button:hover span{
    width: 100%;
}
.special_button:hover{
    border: none;
}
.home::before {
    content: '';
    position: fixed; /* Fixed position to cover the whole viewport */
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(36, 36, 36, 0.6);
    z-index: 100;
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease-out;
}
.home.show::before {
    opacity: 1;
    pointer-events: auto;
}
.event-container{
    display: none;
}
.update-container{
    display: none;
}
.delete-container{
    display: none;
}
.formbox{
    width: 90%;
    height: 90%;
    max-width: 700px;
    max-height: 700px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 101;
    background: #fdfdff;
    padding: 50px 60px 70px;
    text-align: center;
    transition: 0.4s ease-out;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 30px;
}
.formbox1{
    width: 90%;
    height: 90%;
    max-width: 700px;
    max-height: 350px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 101;
    background: #fdfdff;
    padding: 50px 60px 70px;
    text-align: center;
    transition: 0.4s ease-out;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 30px;
}
.form_close{
    position: absolute;
    top: 15px;
    right: 20px;
    cursor: pointer;
}
.form_close2{
    position: absolute;
    top: 15px;
    right: 20px;
    cursor: pointer;
}
.form_close3{
    position: absolute;
    top: 15px;
    right: 20px;
    cursor: pointer;
}
.formbox h2{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 30px;
    color: #383839;
    position: relative;
}
.inputbox{
    background: #ececef;
    margin: 15px 0;
    border-radius: 3px;
    display: flex;
    align-items: center;
    border-radius: 20px;
}
label{
    flex-basis: 30%;
    text-align: left;
    margin-right: 10px;
    margin-left: 25px;
    font-weight: 600px;
}
input{
    width: 50%;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 15px 5px;
}
textarea{
    width: 50%;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 15px 5px;
    resize: none;
   border-radius: 20px;
}
.btnfield {
    margin-top: 150px;
}
.btnfield2 {
    margin-top: 230px;
}
.btnfield3 {
    margin-top: -100px;
}
.btnfield button{
    width: 100%;
    flex-basis: 48%;
    background: #e04e19;
    color: #fdfdff;
    height: 40px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: background 1s;
    font-weight: bold;
}
.btnfield button:hover{
    background: #a6360d;
    transition: 0s;
}
.btnfield2 button{
    width: 100%;
    flex-basis: 48%;
    background: #e04e19;
    color: #fdfdff;
    height: 40px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: background 1s;
    font-weight: bold;
}
.btnfield2 button:hover{
    background: #a6360d;
    transition: 0s;
}
.btnfield3 button{
    width: 100%;
    flex-basis: 48%;
    background: #e04e19;
    color: #fdfdff;
    height: 40px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: background 1s;
    font-weight: bold;
}
.btnfield3 button:hover{
    background: #a6360d;
    transition: 0s;
}
.inputfield{
    height: 200px;
}
.fa-magnifying-glass{
    margin-left: 40px;
    cursor: pointer;
}
footer{
    
    width: 100%;
    position: relative;
    bottom: 0;
    background: linear-gradient(to right, #621b03, #621b03);
    color: #ffffff;
    padding: 30px 0;
    font-size: 13px;
    line-height: 20px;
}

.row{
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    margin-left: 56px;
}
.col{
    flex-basis: 25%;
    padding: 10px;
}
.col:nth-child(2), .col:nth-child(3){
    flex-basis: 15%;
}
.col h3{
    width: 80px;
    margin-bottom: 40px;
    font-size: 30px;
}
.col h4{
    width: fit-content;
    margin-bottom: 35px;
    position: relative;
    font-size: 15px;
}
ul li{
    list-style: none;
    margin-bottom: 12px;
}
ul li a{
    color: #ffffff;
    text-decoration: none;
    font-weight: 600px;
}
.footer-form{
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    margin-bottom: 50px;
}
form .fa-regular {
    font-size: 18px;
    margin-right: 10px;
}

form .emailinput {
    width: 100%;
    background: transparent;
    color: #ffffff;
    border: 0;
    outline: none;
}
form button {
    background: transparent;
    border: 0;
    outline: none;
    color: #ffffff;
    cursor: pointer;
}

form button .fa-solid {
    font-size: 16px;
    color: #ffffff;
}

.social-icons {
    display: flex;
    align-items: center;
}

.social-icons .fa-brands {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: #ffffff;
    cursor: pointer;
}

/* Adjust the margin-left for the .fa-brands to position them to the right */
.social-icons .fa-brands {
    margin-left: 10px;
}
.social-icons .fa-brands:hover {
    transform: scale(1.2);
}

@media (max-width: 700px){
    footer{
        bottom: unset;
    }
    .col{
        flex-basis: 100%;
        
    }
    .col:nth-child(2), .col:nth-child(3){
        flex-basis: 100%;
    }
}
body {
    overflow-x: hidden;
}
.sub_menu_1 {
    display: none;
    position: absolute;
    background: #191B1C;
    margin-top: 235px; /* Adjust this value as needed to move the submenu down */
    margin-left: 80px;
}
.sub_menu_1 a{
    color: #C8C3BC;
    font-size: 15px;
    font-weight: 600px;
}

.nav_link_events:hover + .sub_menu_1, .sub_menu_1:hover {
    display: block;
}

.sub_menu_1 ul {
    display: block;
    margin: 15px;
    
}
.sub_menu_1 ul li {
    background: transparent;
    border-radius: 0;
    text-align: left;
    transition: color 0.3s;
    margin-bottom: 25px; /* Add a transition for smooth color change */
}
.sub_menu_1 ul li a:hover{
    color: #df580a;
}
